* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
    margin-left:1px;
}

body {
    background-color: #d9dcd6;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: linear-gradient(50deg,  rgba(116, 15, 247, 0.233), #267c9600), url("../images/IMG_4987.JPG");
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
    font-style:oblique;
    height: 100px;
}

.vision {
    color:rgb(4, 37, 37);
    font-size: xx-large;
    font-style:normal;
    font-weight: 600;
    text-decoration: none;
    background-color: none;
}
/* added hovor effects to header bar */
.vision:hover {
    color: rgba(11, 8, 194, 0.452);
}

.portfolioLink {
    color:rgb(4, 37, 37);
    font-size: xx-large;
    font-style:normal;
    font-weight: 600;
    text-decoration: none;
    background-color: none;
}
.portfolioLink:hover {
    color: rgba(19, 56, 1, 0.589);
}

.contactLink {
    color:rgb(4, 37, 37);
    font-size: xx-large;
    font-style:normal;
    font-weight: 600;
    text-decoration: none;
    background-color: none;
}
.contactLink:hover {
    color: indianred;
}

.prof-pic {
    width:200px;
    height:auto;
    border-radius: 25px;
}

.header h1 {
    display: inline-block;
    font-size:48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*.header nav ul {
    list-style-type: none;
}*/

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    flex:auto
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 5px;
    color: #1a6a9b;
    background-image: url("../images/IMG-4960.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

/*@media screen and (max-width: 760px) {
.content {
    width: 100%;
}
*/

.content {
    flex: 1 0 0;
    margin-top: 15px;
    margin-left: 30px;
    background-color: #90caee7a;

}

.vision-box {
    justify-content:end;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    margin-left: 15px;
    padding-left: 5px;
    padding-top: 6px;
    padding-bottom: 5px;
    /* more linear gradients to distiguish Vison box, and because I like gradients :) */
    background-image: linear-gradient(0deg, rgba(0, 195, 255, 0.267), rgba(0, 102, 255, 0.247));

}

.refactor-box {
    margin-left: 50px;
    background-color: aquamarine;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    text-align: Left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none;
}
.refactor-box:hover {
    background-image: url("../images/Horiseon_screenshot.png");
    width:auto;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.refactorLink {
    text-decoration: none;
    font-weight: 800;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}


.portfolio-box {
    margin-left: 50px;
    background-color: aquamarine;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.Javascript-box {
    margin-left: 50px;
    background-color: aquamarine;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.future-box {
    margin-left: 50px;
    background-color: aquamarine;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.contact-me {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float:right;
    align-self:auto;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
 
.message-image {
    width: 150px;
    height: auto;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: rgba(202, 187, 243, 0.205);
    border-color: aqua;
}

.footer a {
    font-size: 20px;
    /* Added additional font-familes for better access */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 750;
    text-decoration: none;
}
@media screen and (max-width: 750px) {
    header, main {
        flex-direction: column;
    }
    
}